* {
    margin: 0;
    box-sizing: border-box;
}
body {
    /*background-color: black;
    color:white;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Noto Sans", sans-serif;
}
.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
.d-flex {
    display: flex;
}
.d-inblock {
    display: inline-block;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-center {
    align-items: center;
}
.text-center {
    text-align: center;
}
.row {
    padding: 0.5rem;
}
.position-relative {
    position: relative;
}
.background-main .d-none {
    display: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
header {
    /*background: rgba(129, 46, 148, 0.178);*/
    background: rgba(129, 46, 148, 0.466);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 2%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-size: 1.1rem;
}
.brand-name {
    font-family: inter;
    font-weight: 600;
    font-size: 1.2rem;
}
.nav-bar ul li {
    padding: 0 15px;
}
.nav-link {
    opacity: 80%;
    color: white;
}
.work-request i {
    font-size: 14px;
}
.none {
    display: none;
}
.background-main {
    margin: -0.1rem 0 0 0;
    padding: 0;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 60vh;
    position: relative;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

img.icon {
    width: 300px;
    margin-top: 4rem;
    border-radius: 100%;
    border-width: 10px;
    box-shadow: -50px -20px 40px rgb(227 135 255 / 25%),
        0px 50px 40px rgb(255 219 57 / 30%),
        50px -20px 40px rgb(118 255 255 / 30%),
        0 0 2pt 4pt rgb(255 255 255 / 60%);
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.name-card {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 12%);
    backdrop-filter: blur(7px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: gill 3s ease-in-out infinite;
}
@keyframes gill {
    0% {
        margin-top: 10px;
    }
    50% {
        margin-top: 0px;
    }
    100% {
        margin-top: 10px;
    }
}
.hand {
    font-size: 25px;
}
.hand2 span {
    font-weight: 700;
    font-size: 35px;
}
.ml-50 {
    width: 190px;
}
.ui-design {
    margin-top: -10rem;
}
.ml-60 {
    width: 180px;
}
.move-name {
    margin-top: -13rem;
}
.design {
    font-size: 18px;
    font-weight: 600;
    opacity: 80%;
}
.artist {
    margin-top: 13rem;
    width: 220px;
}
.art {
    font-size: 25px;
    font-weight: 600;
}
.ml-80 {
    width: 300px;
    margin: 0 auto;
    display: block;
}
.bar {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(255, 255, 255, 0.1);
}
.bar:active {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}
.b {
    outline: 0;
    box-shadow: 0 0 0 0.25rem;
}
.x {
    background: rgba(129, 46, 148, 0.466);
}
.bar {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    display: block;
}
.block {
    margin-top: -500px;
    transition: 1s;
    display: block;
}
.a {
    margin-top: 0;
}
.position {
    position: absolute;
    left: 0;
    padding-left: 10%;
    top: 100%;
    width: 100%;
    background: rgba(129, 46, 148, 0.466);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 2%);
    backdrop-filter: blur(10px);
}
.position > ul > li > a {
    display: inline-block;
    width: 100%;
}
.position > ul > li {
    width: 100%;
}
.position > ul > li:hover {
    background-color: rgba(26, 26, 26, 0.404);
    display: inline-block;
    border-radius: 20px;
}
.down-head {
    padding: 25px;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: fit-content;
    text-align: center;
}
.down-head h1 {
    font-size: 50px;
    font-weight: 600;
    color: #f2f6f9;
}
.down-head h2 {
    font-size: 20px;
    font-weight: 600;
    color: #f2f6f9;
    opacity: 60%;
}
.down-head h4 {
    font-size: 20px;
    font-weight: 700;
    color: #f2f6f9;
}
.quote {
    margin-top: 80px;
}
.quote h3 {
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 8s ease infinite;
    font-size: 25px;
    font-weight: 800;
}
.quote h5 {
    text-align: right;
    font-size: 15px;
    font-weight: 400;
}
.service {
    padding: 70px 0;
    text-align: center;
}
.service h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: roboto;
    font-size: 25px;
}
.service h4 {
    font-size: 20px;
    font-weight: 700;
}
.service-offer {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding-top: 20px;
    vertical-align: middle;
}
.service-box {
    padding: 20px;
    margin: 20px;
    background-color: #dfdfdf;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}
.service-box:hover {
    outline: 1px solid rgba(10, 39, 100, 0.6);
    background-color: transparent;
    box-shadow: 0 10px 40px rgb(211 101 239);
}
.service-box:hover i {
    color: #7536d7;
}
.project {
    padding:70px 0;
    text-align: center;
}
.project h2,
.about h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: roboto;
    font-size: 25px;
}
.projects {
    display: block;
    justify-content: space-around;
    width: 100%;
    padding: 40px 0;
}
.projects img {
    width: 100%;
    height: 300px;
}
.project-one:hover {
    transform: perspective(800px) rotateY(-8deg) translateY(-20px)
        rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}

.project-one {
    width: 60px;
    border-radius: 30px;
    transition: 0.4s ease all;
}
.project-two:hover {
    transform: perspective(800px) rotateY(-8deg) translateY(-20px)
        rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
}

.project-two {
    width: 600px;
    border-radius: 30px;
    transition: 0.4s ease all;
}
.about {
    padding: 70px 0;
    text-align: center;
}
.about-img {
    text-align: center;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    position: relative;
}
.about-img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    outline: 4px dashed #ff7a00;
    outline-offset: 4px;
    margin-top: 4rem;
    border-radius: 50%;
    z-index: 10;
    animation: spin 8s linear infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
.about-content {
    display: block;
    justify-content: space-around;
    align-content: center;
}
.about-content-img {
    display: none;
    width: 100%;
}
.about-content-text {
    text-align: left;
    width: 100%;
    padding: 30px;
    font-family: roboto;
}
.about-content h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0;
}
.about-content p {
    margin: 10px 0;
}
.about-btn {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
        radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 2px transparent;
    box-shadow: 0 10px 30px rgb(118 85 225 / 30%);
    transition: 5s;
}
.about-btn:hover {
    background-image: linear-gradient(to left, #4458dc 0%, #854fee 100%),
        radial-gradient(circle at top left, #4458dc, #854fee);
    transition: ease 1s;
}
.about-btn span {
    padding: 35px;
}
.about-container {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    margin-top: 20px;
    vertical-align: middle;
}
.about-box {
    padding: 20px;
    margin: 20px;
    background-image: linear-gradient(to left, #4458dc 0%, #854fee 100%),
        radial-gradient(circle at top left, #4458dc, #854fee);
    border-radius: 20px;
    transition: 1s;
    color: white;
}
.about-box h4 {
    font-size: 25px;
    font-weight: 500;
    font-family: roboto;
}
.about-box:hover {
    outline: 2px solid greenyellow;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%),
        radial-gradient(circle at top left, #4458dc, #854fee);
}
.one h4 {
    background: linear-gradient(120deg, #ff5acd, #fbda61);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.one:hover {
    box-shadow: 0 10px 40px rgb(239 101 159);
}
.two h4 {
    background: linear-gradient(45deg, #a6ffcb, #1fa2ff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.two:hover {
    box-shadow: 0 10px 40px rgb(101 188 239);
}
.three h4 {
    background: linear-gradient(45deg, #ec77ab, #e100ff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.three:hover {
    box-shadow: 0 10px 40px rgb(211 101 239);
}
.contact {
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    height: fit-content;
    text-align: center;
    padding: 10px;
}
.contect-me {
    padding: 50px 0 30px 0;
    width: 100%;
    text-align: center;
}
.contect-me h3 {
    display: inline-block;
    font-size: 35px;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    padding: 10px;
    border-radius: 10px;
    transition: 1s;
    font-weight: 700;
    color: white;
}
.contect-me h3:hover {
    background: linear-gradient(90deg, #4bc0c8, #feac5e, #c779d0);
}
.contact-blur {
    background: rgba(255, 255, 255, 0.322);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 2%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.02);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin: 0 auto;
}
.mar {
    margin-top: 0px !important;
    width: 250px !important;
}
.contact-blur h3 {
    font-family: roboto;
    font-weight: 600;
    font-size: 16px;
    color: white;
    margin: 1rem;
}
.contact-blur a {
    color: white;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link a {
    font-size: 30px;
}
.contact-blur h5 {
    color: white;
    font-size: 16px;
    text-align: right;
}
.contact a:hover i {
    color: bisque;
}
footer a {
    color: white;
    font-size: 20px;
}
footer a:hover {
    color: white;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
}

.back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    background: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
    padding: 5px 10px;
    border-radius: 50%;
    color: white;
    z-index: 100;
}
.back a {
    color: white;
}
.back:hover a {
    color: thistle;
}
.back:hover {
    color: thistle;
    outline: 1px solid black;
    box-shadow: 4px 2px 20px black;
}
.back:focus {
    color: thistle;
    outline: 1px solid black;
    box-shadow: 4px 2px 20px black;
}
.back:active {
    color: thistle;
    outline: 1px solid black;
    box-shadow: 4px 2px 20px black;
}
footer {
    background-color: rgba(0, 0, 0, 0.767);
    border-top: 2px solid blueviolet;
    padding: 20px;
}
.foot-content {
    text-align: center;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}
.foot-content h3 {
    color: white;
    font-size: 22px;
    font-weight: 500;
    font-family: roboto;
}
.space h3 {
    padding: 0 10px;
}
footer p{
    text-align: center;
    color: wheat;
    font-size: 16px;
    font-weight: 500;
    font-family: roboto;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    .quote h3 {
        font-size: 30px;
    }
    .quote h5 {
        font-size: 20px;
    }
    .about-content h3 {
        font-size: 30px;
    }
    .contact-blur h3 {
        font-size: 25px;
    }
    .contact-blur {
        max-width: 1000px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .quote h3 {
        font-size: 40px;
    }
    .quote h5 {
        font-size: 30px;
    }
    .service-offer,
    .about-container {
        grid-template-columns: 1fr 1fr;
    }
    .service h2,
    .project h2,
    .about h2 {
        font-size: 35px;
    }
    .about-content h3 {
        font-size: 40px;
    }
    .contact-blur h3 {
        font-size: 35px;
    }
    .foot-content {
        display: flex;
    }
    .space {
        display: flex;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .background-main .d-block {
        display: block;
    }
    .ml-50 {
        margin-left: 200px;
    }
    .ml-60 {
        margin-right: 200px;
    }
    .ml-70 {
        margin-right: 300px;
    }
    .ml-80 {
        display: none;
    }
    .none {
        display: block;
    }
    .block {
        display: none;
    }
    .bar {
        display: none;
    }
    .down-head h2 {
        font-size: 25px;
    }
    .down-head h1 {
        font-size: 70px;
    }
    .quote h3 {
        font-size: 60px;
    }
    .service-offer,
    .about-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .service h2,
    .project h2,
    .about h2 {
        font-size: 45px;
    }
    .projects {
        display: flex;
    }
    .about-content {
        display: flex;
    }
    .about-content-img {
        display: block;
        width: 50%;
    }
    .about-content-text {
        width: 50%;
    }
    .contact-blur h3 {
        font-size: 45px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .ml-50 {
        margin-left: 300px;
    }
    .ml-60 {
        margin-right: 300px;
    }
    .ml-70 {
        margin-right: 400px;
    }
    .service-offer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .about-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
    .ml-50 {
        margin-left: 400px;
    }
    .ml-60 {
        margin-right: 400px;
    }
    .ml-70 {
        margin-right: 500px;
    }
    .service h2,
    .project h2,
    .about h2 {
        font-size: 50px;
    }
}
